<div class="features">
    {% for feature in site.features %}
    {% if feature.title %}
    {% if feature.even_or_odd == "even" %}

    <div class="feature">
        <!-- Image container -->
        <div class="featureImage">
            <img src="{{ feature.image_url }}" alt="{{ feature.image_url }}">
        </div>

        <!-- Text container -->
        <div class="featureDescription">
            <h5 class="featureName">{{ feature.name }} </h5>
            <h3 class="featureTitle">{{ feature.title }}</h3>
            <p class="featureText">{{ feature.description }}</p>
        </div>
    </div>

    {% elsif feature.even_or_odd == "odd" %}

    <div class="feature odd-feature">
        <div class="featureDescription">
            <h5 class="featureName">{{ feature.name }} </h5>
            <h3 class="featureTitle">{{ feature.title }}</h3>
            <p class="featureText">{{ feature.description }}</p>
        </div>

        <!-- Image container -->
        <div class="featureImage">
            <img src="{{ feature.image_url }}" alt="{{ feature.image_url }}">
        </div>
    </div>

    {% elsif feature.even_or_odd == "full" %}

    <div>
        <!-- Image container -->
        <div class="fullpageFeatureImage">
            <img src="{{ feature.image_url }}" alt="{{ feature.image_url }}">
        </div>

        <div class="featureDescription">
            <h5 class="featureName">{{ feature.name }} </h5>
            <h3 class="featureTitle">{{ feature.title }}</h3>
            <p class="featureText">{{ feature.description }}</p>
        </div>
    </div>

    {% endif %}

    {% endif %}
    {% endfor %}

    <div>
        <!-- Image container -->
        <div class="fullpageFeatureImage" style="padding-top: 32px;">
            <img src="/assets/screenshot/6.png"></img>
        </div>
    </div>
    
   
</div>